    body {
            display: flex;
            justify-content: left;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: linear-gradient(135deg, #b8acac 0%, #d6d6d6);
            color: #fff;
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            width: 400px; /* Ubah lebar agar lebih besar */
            max-width: 90%; /* Tambahkan batas maksimal agar responsif */
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
            padding: 20px; /* Tambahkan padding untuk ruang di dalam kotak */
        }

        .form-section {
            width: 100%; /* Pastikan form section mengisi seluruh container */
            padding: 20px; /* Sesuaikan padding agar lebih nyaman */
        }
        .image-section {
            width: 50%;
            background-image: url('../img/makan2.jpg');
            background-size: cover;
            background-position: center;
            position: relative;
        }
        .image-section::after {
            content: 'MLAKURASO';
            text-align: center;
            position: absolute;
            bottom: 20px;
            left: 150px;
            right: 150px;
            color: white;
            font-size: 24px;
            font-weight: bold;
        }
        .form-section {
            width: 50%;
            padding: 60px;
        }
        .form-section h2 {
            margin-bottom: 30px;
            color: #333;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        .btn {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .btn:hover {
            background-color: #555;
        }
        .register-link {
            display: block;
            margin-top: 1px;
            text-align: left;
            color: #333;
            text-decoration: none;
        }
        .username-label {
            color: black;
            font-size: 16px;
            margin-top: 10px;
        }