body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(135deg, #FFC0CB 0%, #d6d6d6);
        }
        .container {
            display: flex;
            width: 100%;
            height: 100vh;
            background-color: #f8f8ff;
        }
        .sidebar {
            width: 25%;
            background-color: #fff;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        }
        .content {
            width: 75%;
            padding: 20px;
            background-image: url('event-background.jpg');
            background-size: cover;
            color: #333;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            color: #000000;
            text-decoration: none;
            cursor: pointer;
        }
        .list-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #333;
            border-radius: 5px;
            cursor: pointer;
        }
        .icon {
            margin-right: 10px;
        }
        .text {
            font-weight: bold;
            color: #ffffff;
        }
        .image {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .rules {
            margin-top: 20px;
            background: rgba(255, 255, 255, 0.8);
            padding: 15px;
            border-radius: 10px;
        }
        .rule-item {
            display: flex;
            flex-wrap: wrap;
        }
        .card {
            margin-right: 10px;
            margin-bottom: 10px;
            flex: 1 1 calc(25% - 20px);
            box-sizing: border-box;
        }
        .card img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .rule-title {
            width: 200%;
            font-weight: bold;
            color: #8b0000;
            margin-bottom: 10px;
        }
        .schedule-item {
            margin-top: 10px;
            font-size: 18px;
            color: #333;
        }
